body{
    background:#546;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    font-size: 20px;
}
body header {
    background: #876;
}
body header h1{
    text-align:center;
}
header ui {
    margin: 0;
    display:inline;
    
    list-style-type:none;
}
header ui li {
    padding: 8px 15px;
    display:inline-block;
    color:white;
    background-color: #674;
}
.button{
    background-color:#674;
    border:none;
    color:white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}
body desc{
    text-align:center;
    background:#876;
    padding: 0 0 0 10px;
    display: inline
}