body{
    background:#white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    font-size: 20px;
}
body header h1{
    text-align:center;
}
header ui {
    margin: 0;
    display:inline;
    
    list-style-type:none;
}
header ui li {
    padding: 8px 15px;
    display:inline-block;
    color:white;
    background-color: #674;
}
.button{
    background-color:#674;
    border:none;
    color:white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}
body desc{
    text-align:center;
    padding: 0 0 0 10px;
    display: inline
}
.btn-file{
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}